.main_in,
.footer_in {
  max-width: 1200px;
  margin: 0, auto;
}

.header_in {
  max-width: 1800px;
  margin: 0, auto;
}
header {
  min-height: 100px;
  background: rgba(246, 74, 74, 0.412);
  color: var(--blue1);
}
main {
  min-height: 80vw;
}
footer {
  min-height: 100px;
  background: gray;
}
:root {
  --blue1: rgba(126 185 252);
  --red1: rgba(238 33 40);
  --grey1: rgba(92 92 92);
  --white: rgba(255, 255, 255);
}
.c-blue1 {
  color: var(--blue1);
}
.c-red1 {
  color: var(--red1);
}
.c-grey1 {
  color: var(--grey1);
}
.c-white1 {
  color: var(--white1);
}

.b-blue1 {
  background: var(--blue1);
}
.b-red1 {
  background: var(--red1);
}
.b-grey1 {
  background: var(--grey1);
}
.b-white1 {
  background: var(--white1);
}
.header__menu--a:hover {
  color: #7eb9fc98;
  cursor: pointer;
}

* {
  background: rgb(0 0 0 / 7%);
}
