* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
  line-height: normal;
  color: inherit;
  text-transform: none;
  list-style: none;
  text-decoration: none;
  font-family: "Lato", sans-serif;
}
body {
  font-family: "Lato", sans-serif;
}
button {
  border: none;
  all: initial;
}
a,
a:hover,
a:active,
button:hover,
input:hover {
  transition: 0.2s ease;
  cursor: pointer;
  opacity: 0.8;
}
input {
  outline: none;
  border: none;
}
header,
main,
footer {
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  font-size: 18px;
}
p,
ul,
li,
span {
  font-weight: 400;
  font-size: 16px;
}
:root {
  --blue: rgba(126 185 252);
  --red: rgba(238 33 40);
  --grey: rgba(92 92 92);
  --grey_light:rgba(127,185,253, 0.1)
  --white: rgba(255, 255, 255);
}
.c-blue {
  color: var(--blue);
}
.c-red {
  color: var(--red);
}
.c-grey {
  color: var(--grey);
}
.c-grey-light {
  color: var(--grey_light);
}
.c-white {
  color: var(--white);
}
.bg-blue {
  background-color: var(--blue);
}
.bg-red {
  background-color: var(--red);
}
.bg-grey {
  background-color: var(--grey);
}
.bg-grey-light {
  background-color: var(--grey_light);
}
.bg-white {
  background-color: var(--white1);
}
