* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
  line-height: normal;
  color: inherit;
  text-transform: none;
  list-style: none;
  text-decoration: none;
}
body {
  font-family: "Lato", sans-serif;
}
button {
  border: none;
  all: initial;
}
a. a:hover,
a:active,
button:hover,
input:hover {
  transition: 0.2s ease;
  cursor: pointer;
}
input {
  outline: none;
  border: none;
}
header,
main,
footer {
  width: 100%;
  overflow: hidden;
  margin: 0, auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  font-size: 18px;
}
p,
ul,
li,
span {
  font-weight: 400;
  font-size: 16px;
}
